body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}
h1 {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.content, .arrow {
  float: left;
  padding: 4%;
  background-color: white;
  border-bottom: 1px solid gray;
}
.content {
  width: 80%;
}
.arrow {
  width: 11%;
  padding: 19.5px;
}
.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin:  auto;
  padding: 15px 0px 20px 20px;
  position: fixed;
  width: 383px;
  background-color: black;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
}

.location :hover {
color: #A2A2A2;
}
